#wrapper{
	font-family:tahoma;
}
#header{
	width:100%;
	height:100px;
	background:#b3b3b3;
	
}
#logo{
	width:250px;
	margin-top:10px;
	float:left;
}
#1st{
	color:black;
	font-size:50px;
	font-weight:bold;
}
.header {
    background-color: #f1f1f1;
	height:100px;
	width:100%;
	margin-top:-20px;
}
.topnav {
    overflow: hidden;
    background-color: #333;
	
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #2196F3;
    color: white;
}
.topnav .search-container{
	float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.column {
    float: left;
	padding:10px;
}
.column.side{
	width:40%;

}
.column.middle{
	width:60%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column .form-container{
	float: left;
}

.column input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 2px solid #ccc;
  width:100%;
}
.column .form-container button {
  float: middle;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  width:50%;
}

.column .form-container button:hover {
  background: #ccc;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */

.footer {
    background-color: 	#7FFFD4;
    padding: 20px;
    text-align: center;
	height:100px;
}
.myslides{
	display:none;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media screen and (max-width: 600px) {
    .column.side,.colum.side {
        width: 100%;
    }
	.prev, .next,.text {font-size: 11px}
	.topnav .search-container {
    float: none;
    }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

/* new added style */
.container input[type=text], select {
    width: 22%; 
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-size: 15px;
	
}

.container input[type=submit] {
    background-color: DodgerBlue;
    color: white;
    padding: 14px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-size: 20px;
}

.container input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #b4b4b4;
    padding: 20px 40px;
	margin: 8px 0;
}
.smallcontainer {
    border-radius: 5px;
    background-color: #b4b4b4;
    padding: 20px 40px;
	margin: 8px 5px;
	height:200px;
	width:250px;
	float:left;
}
.largecontainer{
	width:100%;
}

